<header>
    <div class="container-header">
        <div id="logo-menu">
            <h4 id="logo">E-commerce!</h4>
            <!-- Example single danger button -->
            <div class="categoria"> 
                <a type="button" class="button-dropdown-menu dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Categories
            </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Electronics</a></li>
                    <li><a class="dropdown-item" href="#">Jewelery</a></li>
                    <li><a class="dropdown-item" href="#">Men Clothing</a></li>
                    <li><a class="dropdown-item" href="#">Women Clothing</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">All products</a></li>
                </ul>
            </div>
        </div>
    
        <div id="cart">
            <i class="bi-cart4"></i>
        </div>
    </div>
</header>